.banner {
    height: 100vh;
    width: 100vw;
    color:white;
    background: #1d423d;
    top: 0;
    left: 0;
}
#particles-js {
    display: block;
}
.bannertext {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    pointer-events: none;
    top: 30%;
    left: 0;
    position: absolute;
}
.banner h2 {
    font-family: var(--serif);
    font-size: var(--spacing-spacing-6);
    line-height: var(--spacing-spacing-7);
    text-align: left;
}
.banner h3 {
    font-family: var(--sans);
    font-size: var(--spacing-spacing-5);
    line-height: var(--spacing-spacing-5);
    font-weight: 450;
}
.back {
    overflow: hidden;
    width:120%;
    transform: translateX(-80px) translateY(-580px);
    opacity: 0.7;
}
.neurallist {
    margin-top: 50px;
    padding-top: 10px;
    font-family: var(--serif);
    font-size: var(--spacing-spacing-5);
    line-height: var(--spacing-spacing-6);
    margin-left: 30px;
}
.list {
    margin-left: 30px;
    font-family: var(--serif);
    font-size: var(--spacing-spacing-4);
    line-height: var(--spacing-spacing-5);
}
.sublist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
}
.neuel {
    width: 90%;
    height: max-content;
    padding: 10px;
    padding-top: 15px;
    font-family: var(--sans);
    font-size: var(--spacing-spacing-4);
    line-height: var(--spacing-spacing-5);
    border-left: 10px var(--green-700) solid;
}

.neuel a {
    font-size: var(--spacing-spacing-4);
    line-height: var(--spacing-spacing-1);
}

.neuel h2 {
    font-weight: 500;
}

.infel {
    width: 90%;
    height: max-content;
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
    font-family: var(--sans);
    font-size: var(--spacing-spacing-4);
    border-left: 10px var(--red-700) solid;
    border-bottom: 3px var(--red-700) solid;
}

.iblue {
    border-left: 10px var(--blue-700) solid;
    border-bottom: 3px var(--blue-700) solid;
}

.igreen {
    border-left: 10px var(--green-700) solid;
    border-bottom: 3px var(--green-700) solid;
}

.iyellow {
    border-left: 10px var(--yellow-700) solid;
    border-bottom: 3px var(--yellow-700) solid;
}
.infel a {
    font-size: var(--spacing-spacing-4);
    line-height: inherit;
    height:min-content;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-bottom: var(--gray-500) 1px dashed;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
    z-index: 10;
}

.toplink {
    height: 30px;
    display: flex;
    align-self: center;
    width: 100%;
    align-content: center;
    text-align: center;
    background: white;
}
.toplink a {
    font-size: 1.45rem;
    font-family: var(--serif);
    color: black;
    font-style: normal;
    text-decoration: none;
    align-content: center;
    text-align: center;
    width: 100%;
    transition: .05s ease-in-out;
    border-bottom: #fff 0px solid;
}

.toplink a:hover {
    border-bottom: var(--gray-500) 1px solid;
    background: white;
}